# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*
*.qm
build_scripts/win/IcoDroid_Setup_x64/.vs/IcoDroid_Setup_x64/v14/.suo
*.msi
*.wixpdb
build_scripts/win/IcoDroid_Setup_x64/obj/Debug/IcoDroid_Setup_x64.wixproj.BindBuiltOutputsFileListnull.txt
build_scripts/win/IcoDroid_Setup_x64/obj/Debug/IcoDroid_Setup_x64.wixproj.FileList.txt
*.wixobj
build_scripts/win/IcoDroid_Setup_x64/obj/Release/IcoDroid_Setup_x64.wixproj.BindContentsFileListnull.txt
build_scripts/win/IcoDroid_Setup_x64/obj/Debug/IcoDroid_Setup_x64.wixproj.BindContentsFileListnull.txt
build_scripts/win/IcoDroid_Setup_x64/obj/Debug/IcoDroid_Setup_x64.wixproj.BindOutputsFileListnull.txt
build_scripts/win/IcoDroid_Setup_x64/obj/Release/IcoDroid_Setup_x64.wixproj.BindBuiltOutputsFileListnull.txt
build_scripts/win/IcoDroid_Setup_x64/obj/Release/IcoDroid_Setup_x64.wixproj.BindOutputsFileListnull.txt
build_scripts/win/IcoDroid_Setup_x64/obj/Release/IcoDroid_Setup_x64.wixproj.FileList.txt
