<?xml version="1.0" encoding="UTF-8"?>
<Installer>
	<Name>IcoDroid</Name>
    <Version>1.0.0</Version>
	<Title>IcoDroid Installer</Title>
	<Publisher>Skycoder42</Publisher>
	<ProductUrl>https://github.com/Skycoder42/IcoDroid/releases</ProductUrl>
	<StartMenuDir>IcoDroid</StartMenuDir>
	<TargetDir>@HomeDir@/IcoDroid</TargetDir>
	<AdminTargetDir>@ApplicationsDir@/IcoDroid</AdminTargetDir>
	<RunProgram>IcoDroid</RunProgram>
	<AllowSpaceInPath>true</AllowSpaceInPath>
	<AllowNonAsciiCharacters>true</AllowNonAsciiCharacters>
	<RemoteRepositories>
		<Repository>
			<Url>http://skynet.is-an-engineer.com/repositories/IcoDroid/linux_x64</Url>
			<Enabled>1</Enabled>
			<DisplayName>IcoDroid Linux x64 Repository</DisplayName>
		</Repository>
	</RemoteRepositories>
</Installer>
