Package: icodroid
Version: 1.0.0
Section: custom
Priority: optional
Architecture: amd64
Depends: libglu1-mesa-dev
Essential: no
Installed-Size: 60000
Maintainer: Skycoder42 <Skycoder42@github.com>
Homepage: https://github.com/Skycoder42/IcoDroid
Description: A tool to create Android icons from single files like .ico, .png, ...
