<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define Manufactor = "Felix Barz"?>
  <?define UpgradeGuid = "{2C26A120-EEA0-4AF1-9CD1-345E01A50C4E}"?>
  <?define Version = "1.0.0.0"?>
  <?define DeployPath = "C:\Users\Felix\ProgrammingProjects\QtProjects\build-Icodroid-Desktop_Qt_5_5_1_MSVC2013_64bit-Release\deploy\"?>

  <Product
    Id="*"
    Name="IcoDroid"
    Language="1033"
    Version="$(var.Version)"
    Manufacturer="$(var.Manufactor)"
    UpgradeCode="$(var.UpgradeGuid)">

    <Package
      InstallerVersion="200"
      Compressed="yes"
      Platform="x64"
      Description="Installs IcoDroid"
      Manufacturer="$(var.Manufactor)"
      Comments="A tool to create Android icons from single files like .ico, .png, ..." />

    <Media
      Id="1"
      Cabinet="media1.cab"
      EmbedCab="yes" />

    <Upgrade Id="$(var.UpgradeGuid)">
      <UpgradeVersion Minimum="$(var.Version)"
                      IncludeMinimum="no"
                      OnlyDetect="yes"
                      Language="1033"
                      Property="NEWPRODUCTFOUND" />
      <UpgradeVersion Minimum="0.1.0.0"
                      IncludeMinimum="yes"
                      Maximum="$(var.Version)"
                      IncludeMaximum="no"
                      Language="1033"
                      Property="UPGRADEFOUND" />
    </Upgrade>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder" Name="PFiles">
        <Directory Id="APPLICATIONFOLDER" Name="IcoDroid">

          <Component Id="d3dcompiler_47.dll_component" Win64="yes">
            <File Id="d3dcompiler_47.dll_file" Name="d3dcompiler_47.dll" Source="$(var.DeployPath)d3dcompiler_47.dll" KeyPath="yes" />
          </Component>
          <Component Id="IcoDroid.exe_component" Win64="yes">
            <File Id="IcoDroid.exe_file" Name="IcoDroid.exe" Source="$(var.DeployPath)IcoDroid.exe" KeyPath="yes" />
          </Component>
          <Component Id="libEGL.dll_component" Win64="yes">
            <File Id="libEGL.dll_file" Name="libEGL.dll" Source="$(var.DeployPath)libEGL.dll" KeyPath="yes" />
          </Component>
          <Component Id="libGLESV2.dll_component" Win64="yes">
            <File Id="libGLESV2.dll_file" Name="libGLESV2.dll" Source="$(var.DeployPath)libGLESV2.dll" KeyPath="yes" />
          </Component>
          <Component Id="opengl32sw.dll_component" Win64="yes">
            <File Id="opengl32sw.dll_file" Name="opengl32sw.dll" Source="$(var.DeployPath)opengl32sw.dll" KeyPath="yes" />
          </Component>
          <Component Id="qt.conf_component" Win64="yes">
            <File Id="qt.conf_file" Name="qt.conf" Source="$(var.DeployPath)qt.conf" KeyPath="yes" />
          </Component>
          <Component Id="Qt5Core.dll_component" Win64="yes">
            <File Id="Qt5Core.dll_file" Name="Qt5Core.dll" Source="$(var.DeployPath)Qt5Core.dll" KeyPath="yes" />
          </Component>
          <Component Id="Qt5Gui.dll_component" Win64="yes">
            <File Id="Qt5Gui.dll_file" Name="Qt5Gui.dll" Source="$(var.DeployPath)Qt5Gui.dll" KeyPath="yes" />
          </Component>
          <Component Id="Qt5Svg.dll_component" Win64="yes">
            <File Id="Qt5Svg.dll_file" Name="Qt5Svg.dll" Source="$(var.DeployPath)Qt5Svg.dll" KeyPath="yes" />
          </Component>
          <Component Id="Qt5Widgets.dll_component" Win64="yes">
            <File Id="Qt5Widgets.dll_file" Name="Qt5Widgets.dll" Source="$(var.DeployPath)Qt5Widgets.dll" KeyPath="yes" />
          </Component>
          
          <Directory Id="iconenginesFolder" Name="iconengines">
            <Component Id="qsvgicon.dll_component" Win64="yes">
              <File Id="qsvgicon.dll_file" Name="qsvgicon.dll" Source="$(var.DeployPath)iconengines\qsvgicon.dll" KeyPath="yes" />
            </Component>
          </Directory>

          <Directory Id="imageformatsFolder" Name="imageformats">
            <Component Id="qdds.dll_component" Win64="yes">
              <File Id="qdds.dll_file" Name="qdds.dll" Source="$(var.DeployPath)imageformats\qdds.dll" KeyPath="yes" />
            </Component>
            <Component Id="qgif.dll_component" Win64="yes">
              <File Id="qgif.dll_file" Name="qgif.dll" Source="$(var.DeployPath)imageformats\qgif.dll" KeyPath="yes" />
            </Component>
            <Component Id="qicns.dll_component" Win64="yes">
              <File Id="qicns.dll_file" Name="qicns.dll" Source="$(var.DeployPath)imageformats\qicns.dll" KeyPath="yes" />
            </Component>
            <Component Id="qico.dll_component" Win64="yes">
              <File Id="qico.dll_file" Name="qico.dll" Source="$(var.DeployPath)imageformats\qico.dll" KeyPath="yes" />
            </Component>
            <Component Id="qjp2.dll_component" Win64="yes">
              <File Id="qjp2.dll_file" Name="qjp2.dll" Source="$(var.DeployPath)imageformats\qjp2.dll" KeyPath="yes" />
            </Component>
            <Component Id="qjpeg.dll_component" Win64="yes">
              <File Id="qjpeg.dll_file" Name="qjpeg.dll" Source="$(var.DeployPath)imageformats\qjpeg.dll" KeyPath="yes" />
            </Component>
            <Component Id="qmng.dll_component" Win64="yes">
              <File Id="qmng.dll_file" Name="qmng.dll" Source="$(var.DeployPath)imageformats\qmng.dll" KeyPath="yes" />
            </Component>
            <Component Id="qsvg.dll_component" Win64="yes">
              <File Id="qsvg.dll_file" Name="qsvg.dll" Source="$(var.DeployPath)imageformats\qsvg.dll" KeyPath="yes" />
            </Component>
            <Component Id="qtga.dll_component" Win64="yes">
              <File Id="qtga.dll_file" Name="qtga.dll" Source="$(var.DeployPath)imageformats\qtga.dll" KeyPath="yes" />
            </Component>
            <Component Id="qtiff.dll_component" Win64="yes">
              <File Id="qtiff.dll_file" Name="qtiff.dll" Source="$(var.DeployPath)imageformats\qtiff.dll" KeyPath="yes" />
            </Component>
            <Component Id="qwbmp.dll_component" Win64="yes">
              <File Id="qwbmp.dll_file" Name="qwbmp.dll" Source="$(var.DeployPath)imageformats\qwbmp.dll" KeyPath="yes" />
            </Component>
            <Component Id="qwebp.dll_component" Win64="yes">
              <File Id="qwebp.dll_file" Name="qwebp.dll" Source="$(var.DeployPath)imageformats\qwebp.dll" KeyPath="yes" />
            </Component>
          </Directory>

          <Directory Id="platformsFolder" Name="platforms">
            <Component Id="qwindows.dll_component" Win64="yes">
              <File Id="qwindows.dll_file" Name="qwindows.dll" Source="$(var.DeployPath)platforms\qwindows.dll" KeyPath="yes" />
            </Component>
          </Directory>
          
          <Directory Id="translationsFolder" Name="translations">
            <Component Id="qt_en.qm_component" Win64="yes">
              <File Id="qt_en.qm_file" Name="qt_en.qm" Source="$(var.DeployPath)translations\qt_en.qm" KeyPath="yes" />
            </Component>
            <Component Id="qt_de.qm_component" Win64="yes">
              <File Id="qt_de.qm_file" Name="qt_de.qm" Source="$(var.DeployPath)translations\qt_de.qm" KeyPath="yes" />
            </Component>
            <Component Id="Icodroid_de.qm_component" Win64="yes">
              <File Id="Icodroid_de.qm_file" Name="Icodroid_de.qm" Source="$(var.DeployPath)translations\Icodroid_de.qm" KeyPath="yes" />
            </Component>
          </Directory>
          
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="MyShortCutsDir" Name="IcoDroid">
          <Component Id="ProgramsMenuComponent" Win64="yes" Guid="{9C6DB613-0B5B-4A61-938B-AF137AABAD9E}">
            <Shortcut Id="ProgShortCut" Name="IcoDroid" Description="Run IcoDroid" Target="[APPLICATIONFOLDER]IcoDroid.exe" />
            <Shortcut Id="UninstallShortCut" Name="Uninstall IcoDroid" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]"/>
            <RemoveFolder Id="RemoveMyShortCuts" On="uninstall"/>
            <RegistryValue Root="HKCU" Key="Software\Skycoder Soft\IcoDroid" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
          </Component>
        </Directory>
      </Directory>

      <Directory Id="DesktopFolder" Name="Desktop">
        <Component Id="DesktopShortcut" Win64="yes" Guid="{541F8FF3-21D9-48E3-A76F-57350EC0B034}">
          <Shortcut Id="IcoDroid.exe.lnk" Name="IcoDroid" Description="Run IcoDroid" Target="[APPLICATIONFOLDER]IcoDroid.exe" />
          <RegistryValue Root="HKCU" Key="Software\Skycoder Soft\IcoDroid" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
        </Component>
      </Directory>
    </Directory>

    <Feature Id="MainFeature" Title="IcoDroid" Absent="disallow" Description="The program itself" Level="1">
      <ComponentRef Id="d3dcompiler_47.dll_component" />
      <ComponentRef Id="IcoDroid.exe_component" />
      <ComponentRef Id="libEGL.dll_component" />
      <ComponentRef Id="libGLESV2.dll_component" />
      <ComponentRef Id="opengl32sw.dll_component" />
      <ComponentRef Id="qt.conf_component" />
      <ComponentRef Id="Qt5Core.dll_component" />
      <ComponentRef Id="Qt5Gui.dll_component" />
      <ComponentRef Id="Qt5Svg.dll_component" />
      <ComponentRef Id="Qt5Widgets.dll_component" />
      <ComponentRef Id="qwindows.dll_component" />
      <ComponentRef Id="qsvgicon.dll_component" />
      <ComponentRef Id="qdds.dll_component" />
      <ComponentRef Id="qgif.dll_component" />
      <ComponentRef Id="qicns.dll_component" />
      <ComponentRef Id="qico.dll_component" />
      <ComponentRef Id="qjp2.dll_component" />
      <ComponentRef Id="qjpeg.dll_component" />
      <ComponentRef Id="qmng.dll_component" />
      <ComponentRef Id="qsvg.dll_component" />
      <ComponentRef Id="qtga.dll_component" />
      <ComponentRef Id="qtiff.dll_component" />
      <ComponentRef Id="qwbmp.dll_component" />
      <ComponentRef Id="qwebp.dll_component" />
    </Feature>
    <Feature Id="Translations" Title="Translations" Description="different translations" Level="1">
      <Feature Id="Translations_en" Title="English Translations" Absent="disallow" Description="English translations" Level="1">
        <ComponentRef Id="qt_en.qm_component" />
      </Feature>
      <Feature Id="Translations_de" Title="German Translations" Absent="allow" Description="German translations" Level="1">
        <ComponentRef Id="qt_de.qm_component" />
        <ComponentRef Id="Icodroid_de.qm_component" />
      </Feature>
    </Feature>
    <Feature Id="ShortcutFeature" Title="Desktop Shortcut" Absent="allow"  Description="A shortcut on the desktop to the application"  Level="1">
      <ComponentRef Id="DesktopShortcut" />
    </Feature>
    <Feature Id="ProgramsMenuFeature" Title="Programs Menu Entry" Absent="allow"  Description="Creates an entry inside of the programs menu"  Level="1">
      <ComponentRef Id="ProgramsMenuComponent" />
    </Feature>

    <!-- Keinen Downgrade zulassen -->
    <CustomAction Id="PreventDowngrading" Error="A newer version of IcoDroid is already installed." />

    <Binary Id="vcredist_x64.exe" SourceFile="$(var.DeployPath)vcredist_x64.exe"/>
    <CustomAction Id="LaunchVcredist" BinaryKey="vcredist_x64.exe" ExeCommand="/quiet /norestart" Execute='deferred' Return='ignore' Impersonate='no'/>
    
    <CustomAction Id="Overwrite_WixSetDefaultPerMachineFolder" Property="WixPerMachineFolder" Value="[ProgramFiles64Folder][ApplicationFolderName]" Execute="immediate" />

    <Property Id="ApplicationFolderName" Value="IcoDroid" />
    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />
    <SetProperty Id="ARPINSTALLLOCATION" Value="[APPLICATIONFOLDER]" After="CostFinalize" />

    <InstallExecuteSequence>
      <Custom Action="Overwrite_WixSetDefaultPerMachineFolder" After="WixSetDefaultPerMachineFolder" />
      <Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>
      <Custom Action='LaunchVcredist' After='InstallFiles'>NOT REMOVE</Custom>
      <RemoveExistingProducts After="InstallFinalize" />
    </InstallExecuteSequence>

    <InstallUISequence>
      <Custom Action="Overwrite_WixSetDefaultPerMachineFolder" After="WixSetDefaultPerMachineFolder" />
      <Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>
    </InstallUISequence>

    <WixVariable Id='WixUILicenseRtf' Overridable='yes' Value='$(var.DeployPath)LICENSE.rtf'/>

    <UIRef Id="WixUI_Advanced" />
    <UIRef Id="WixUI_ErrorProgressText" />
  </Product>
</Wix>